.App {
	test-align: center;
}
body {
	padding: 0%;
	margin: 0%;
	font: Arial, Helvetica, sans-serif;
}

nav {
	margin: 0;
	width: 100%;
	height: 80px;
	background-color: black;
	display: flex;
	justify-content: center;
	alight-items: center;
	color: white;
	text-decoration: none;
}

a {
	color: white;
	text-decoration: none;
	margin: 10px;
	font-size: 25px;
}
